$white1: #fefefe;
$white2: #F5F5F5;
$black1: #353d43;
$black2: #171c1e;
$shark1: #abbcc3;
$shark2: #788489;
$mark1: #55A7E3;
$mark2: #4587B8;

@mixin transition100ms() {
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

div#submit-wrapper {
    width:80%;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: $white1;
    color:$black1;
}
#submission-form {
}
.question {
    display: inline-block;
    margin: 1em;
    text-align: center;
}

button[type=submit] {
    padding: 1em;
    margin-top:1em;
    margin-bottom: 1em;
    font-size: 1em;
    width:100%;
    cursor: pointer;
    background: $shark1;
    color: $white1;
    text-transform: uppercase;
    border: 1px solid $shark1;
    -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    @include transition100ms();
}
button[type=submit]:hover, button[type=submit]:focus {
    color: $shark2;
    outline: none;
}
