$white1: #fefefe;
$white2: #F5F5F5;
$black1: #353d43;
$black2: #171c1e;
$shark1: #abbcc3;
$shark2: #788489;
$mark1: #55A7E3;
$mark2: #4587B8;

// FONTS
@font-face {
    font-family: 'hackbold';
    src: url('../fonts/hack-bold-webfont.eot');
    src: url('../fonts/hack-bold-webfont.woff2') format('woff2'),
         url('../fonts/hack-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hackregular';
    src: url('../fonts/hack-regular-webfont.eot');
    src: url('../fonts/hack-regular-webfont.woff2') format('woff2'),
         url('../fonts/hack-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


//MAIN STYLES
* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Hack', sans-serif;
    background-color: $black1;
    color: $white1;
    margin:0;
}
.button {
    padding:1em;
    color: #fefefe;
    background-color:#74c16c;
    display:inline-block;
    border-radius:.3em;
}
.button:hover {
    background-color: #3eb52f;
}
.subtext {
    font-size: 1em;
}
#hero {
    min-height:60vh;
    width:100vw;
    text-align: center;
    background-size: cover;
    position:relative;
}
section#hero > div  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav {
    text-align: center;
    margin: 0 auto;
    padding:1em;
}
nav a, nav a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color:$shark2;
}
nav a:hover {
    color:$shark1 !important;
}
nav#home-page {
    //more shit here
}
footer {
    padding:1em;
    margin:0 auto;
    text-align: center;
    color: $shark2;
}
a, a:visited {
    color: $shark1;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    }
a:hover {
    color: $shark2;
}
input, select, #submitButton {
    -webkit-appearance:none;
    background-color: #fefefe;
    appearance:none;
    overflow: hidden;
    padding:1em;
    font-size:1em;
    font-family: 'open sans', sans-serif;
    border:none;
    border-bottom: 1px solid $shark1;
    margin:none;
    margin-bottom: .5em;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#submitButton {
    color: #aaa;
}
#submitButton:active {
    color:#74c16c;
}
input:focus {
    outline: none;
    border-bottom: 1px solid $black1;
}
.hidden {
    display:none;
}
.steazy {
    position:fixed;
    bottom:0;
    right:-99em;
    max-height: 333px;
}
.steazy2 {
    position:fixed;
    bottom:0;
    left:-99em;
    max-height: 333px;
    transform: scaleX(-1);
}

//project cards
#list {
    margin:0 auto;
    text-align: center;
}
.card {
    color: $black1;
    background-color:$white1;
    margin:1em;
    text-align: left;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(53,61,67,0.3);
       -moz-box-shadow: 0px 5px 10px 0px rgba(53,61,67,0.3);
            box-shadow: 0px 5px 10px 0px rgba(53,61,67,0.3);
    overflow:hidden;
}
.card a, .card a:visited {
    color:$shark2;
}
.card a:hover {
    color:$shark1;
}
.more-content {
    padding:2em 2em 0 2em;
    display:none;
    background-color:$white2;
}
.content, .logo {
    display:inline-block;
}
.logo {
    float:left;
    height:100px;
    width:100px;
}
.content {
    float:left;
    overflow: hidden;
    padding:1em;
}
hr {
    height:0;
    border: 0 solid transparent;
    clear:both;
}
.card .content h3 {
    display: inline;
}
.date, .location {
    color: $shark2;
    font-size: .8em;
}
.divider {
    color:$shark2;
    padding: 0 .5em;
}
.city {
    text-transform: capitalize;
}
.start-date, .end-date {
    text-transform: uppercase;
}
.travel-reimbursement::before {
    content: "up to $"
}
.fa-chevron-down {
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.bottom-icons {
    padding:1em;
    text-align: center;
}
.bottom-icons a {
    text-decoration: none;
}

//FILTERS
.show-filters {
    margin: 0 auto;
    text-align: center;
    text-transform: lowercase;
}
.filters {
    height:100%;
    width:100%;
    background-color: $black1;
    position:fixed;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

//OTHER STUFF
.more-button {
    text-align: center;
    margin: 0 auto;
}

//RESPONSIVE
@media all and (min-width: 830) {
    .card { display:inline-block; width:380px; }
    .more-content { display:block; }
    .fa-chevron-down { display:none !important; }
}
