@font-face {
  font-family: 'hackbold';
  src: url("../fonts/hack-bold-webfont.eot");
  src: url("../fonts/hack-bold-webfont.woff2") format("woff2"), url("../fonts/hack-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hackregular';
  src: url("../fonts/hack-regular-webfont.eot");
  src: url("../fonts/hack-regular-webfont.woff2") format("woff2"), url("../fonts/hack-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Hack', sans-serif;
  background-color: #353d43;
  color: #fefefe;
  margin: 0; }

.button {
  padding: 1em;
  color: #fefefe;
  background-color: #74c16c;
  display: inline-block;
  border-radius: .3em; }

.button:hover {
  background-color: #3eb52f; }

.subtext {
  font-size: 1em; }

h3 {
  font-size: .9em; }

#hero {
  min-height: 60vh;
  width: 100vw;
  text-align: center;
  background-size: cover;
  position: relative; }

section#hero > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

nav {
  text-align: center;
  margin: 0 auto;
  padding: 1em; }

nav a, nav a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #788489; }

nav a:hover {
  color: #abbcc3 !important; }

footer {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  color: #788489; }

a, a:visited {
  color: #abbcc3;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1); }

a:hover {
  color: #788489; }

input, select, #submitButton {
  -webkit-appearance: none;
  background-color: #fefefe;
  appearance: none;
  overflow: hidden;
  padding: 1em;
  font-size: 1em;
  font-family: 'open sans', sans-serif;
  border: none;
  border-bottom: 1px solid #abbcc3;
  margin: none;
  margin-bottom: .5em;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1); }

#submitButton {
  color: #aaa; }

#submitButton:active {
  color: #74c16c; }

input:focus {
  outline: none;
  border-bottom: 1px solid #353d43; }

.hidden {
  display: none; }

.steazy {
  position: fixed;
  bottom: 0;
  right: -99em;
  max-height: 333px; }

.steazy2 {
  position: fixed;
  bottom: 0;
  left: -99em;
  max-height: 333px;
  transform: scaleX(-1); }

#list {
  margin: 0 auto;
  text-align: center; }

.card {
  color: #353d43;
  background-color: #fefefe;
  margin: 1em;
  text-align: left;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(53, 61, 67, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(53, 61, 67, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(53, 61, 67, 0.3);
  overflow: hidden; }

.card a, .card a:visited {
  color: #788489; }

.card a:hover {
  color: #abbcc3; }

.more-content {
  padding: 2em 2em 0 2em;
  display: none;
  background-color: #F5F5F5; }

.content, .logo {
  display: inline-block; }

.logo {
  float: left;
  height: 80px;
  width: 80px; }

.content {
  float: left;
  overflow: hidden;
  padding: 1em; }

hr {
  height: 0;
  border: 0 solid transparent;
  clear: both; }

.card .content h3 {
  display: inline; }

.date, .location {
  color: #788489; }

.divider {
  color: #788489;
  padding: 0 .5em; }

.city {
  text-transform: capitalize; }

<<<<<<< HEAD
.start-date, .end-date, .state {
=======
.state, .month {
>>>>>>> parent of 5857920... Quick update
  text-transform: uppercase; }

.travel-reimbursement::before {
  content: "up to $"; }

.fa-chevron-down {
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1); }

.bottom-icons {
  padding: 1em;
  text-align: center; }

.bottom-icons a {
  text-decoration: none; }

.show-filters {
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase; }

.filters {
  height: 100%;
  width: 100%;
  background-color: #353d43;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0; }

.more-button {
  text-align: center;
  margin: 0 auto; }

.steazy {
  position: fixed;
  bottom: 0;
  right: -99em;
  max-height: 333px; }

.steazy2 {
  position: fixed;
  bottom: 0;
  left: -99em;
  max-height: 333px;
  transform: scaleX(-1); }

@media all and (min-width: 830) {
  .card {
    display: inline-block;
    width: 380px; }

  .more-content {
    display: block; }

  .fa-chevron-down {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
